<a href="https://colab.research.google.com/github/zbutton314/workshop-classification/blob/main/notebooks/Classification_Walkthrough.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Setup and Data Import

In [1]:
def disp(df, n=5):
  print(df.shape)
  display(df.head(n))

In [34]:
import numpy as np
import pandas as pd

df = pd.read_csv("spambase.csv", header=0)
disp(df)

(4140, 58)

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,spam
0,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.000,0.0,0.000,0.000,0.0,1.466,6,22,0
1,0.00,0.0,1.29,0.0,0.00,0.00,0.0,0.00,0.0,1.29,...,0.0,0.220,0.0,0.000,0.000,0.0,1.350,4,27,0
2,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.704,0.0,0.000,0.000,0.0,1.750,3,7,0
3,0.93,0.0,0.93,0.0,0.93,0.93,0.0,0.93,0.0,0.00,...,0.0,0.343,0.0,0.343,0.171,0.0,2.235,15,38,1
4,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,1.257,0.0,0.000,0.000,0.0,3.333,11,30,0

In [3]:
df.describe()

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,spam
count,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,...,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000
mean,0.106572,0.198222,0.279954,0.070198,0.310384,0.095495,0.114857,0.105908,0.088114,0.242459,...,0.038725,0.139290,0.017288,0.271498,0.077233,0.046229,5.363195,52.694444,284.816425,0.392512
std,0.313992,1.207381,0.506297,1.466450,0.671034,0.264674,0.393561,0.407370,0.268444,0.659125,...,0.244150,0.277489,0.113806,0.839399,0.254363,0.450623,33.362967,202.055025,619.355402,0.488369
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.583000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.064000,0.000000,0.000000,0.000000,0.000000,2.258500,15.000000,94.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.318250,0.052000,0.000000,3.714000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,3.570000,7.270000,11.110000,3.330000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

#First Run (Using Naive Bayes)

In [35]:
import sklearn
from sklearn.naive_bayes import GaussianNB

X = df.iloc[:, :-1]
y = df.iloc[:, -1]

nb_model = GaussianNB()
nb_model.fit(X, y)
y_pred = nb_model.predict(X)

preds = pd.DataFrame({"y_actual": y, "y_pred": y_pred})

display(preds.head(5))
display(preds.tail(5))

   y_actual  y_pred
0         0       0
1         0       0
2         0       0
3         1       1
4         0       0

      y_actual  y_pred
4135         1       1
4136         0       1
4137         0       0
4138         0       0
4139         1       1

# Metrics

In [5]:
from sklearn import metrics

print(f"Accuracy: {metrics.accuracy_score(y, y_pred)}")
print(f"Precision: {metrics.precision_score(y, y_pred)}")
print(f"Recall: {metrics.recall_score(y, y_pred)}")
print(f"F1-Score: {metrics.f1_score(y, y_pred)}")

Accuracy: 0.8193236714975846
Precision: 0.6954971020954079
Recall: 0.96
F1-Score: 0.8066184074457085

In [6]:
print(metrics.classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.73      0.83      2515
           1       0.70      0.96      0.81      1625

    accuracy                           0.82      4140
   macro avg       0.83      0.84      0.82      4140
weighted avg       0.86      0.82      0.82      4140

# Train/Test Split

In [7]:
# Split data into train and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=314)

In [8]:
# Fit NB model to data, make predictions, and calculate accuracy metrics
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)
y_pred = nb_model.predict(X_test)
report = metrics.classification_report(y_test, y_pred)

print(report)

              precision    recall  f1-score   support

           0       0.97      0.71      0.82       504
           1       0.68      0.97      0.80       324

    accuracy                           0.81       828
   macro avg       0.83      0.84      0.81       828
weighted avg       0.86      0.81      0.81       828

# Hyperparameters (Using K-Nearest Neighbors)

In [9]:
from sklearn.neighbors import KNeighborsClassifier

knn_model = KNeighborsClassifier(n_neighbors=10)
knn_model.fit(X_train, y_train)
y_pred = knn_model.predict(X_test)
report = metrics.classification_report(y_test, y_pred)

print(report)

              precision    recall  f1-score   support

           0       0.79      0.88      0.83       504
           1       0.77      0.63      0.70       324

    accuracy                           0.78       828
   macro avg       0.78      0.76      0.76       828
weighted avg       0.78      0.78      0.78       828

# Hyperparameter Tuning

In [10]:
# Basic Hyperparameter Tuning with For Loop

scores = []

for k in range(1, 30):
  knn_model = KNeighborsClassifier(n_neighbors=k)
  knn_model.fit(X_train, y_train)
  y_pred = knn_model.predict(X_test)
  prec = metrics.precision_score(y_test, y_pred)
  rec = metrics.recall_score(y_test, y_pred)
  f1 = metrics.f1_score(y_test, y_pred)
  scores.append([k, prec, rec, f1])

scores_df = pd.DataFrame(scores, columns=["k", "precision", "recall", "f1"])
  
print(scores_df)

     k  precision    recall        f1
0    1   0.739521  0.762346  0.750760
1    2   0.820084  0.604938  0.696270
2    3   0.740854  0.750000  0.745399
3    4   0.797710  0.645062  0.713311
4    5   0.755556  0.734568  0.744914
5    6   0.787546  0.663580  0.720268
6    7   0.761146  0.737654  0.749216
7    8   0.792593  0.660494  0.720539
8    9   0.747541  0.703704  0.724960
9   10   0.773585  0.632716  0.696095
10  11   0.747604  0.722222  0.734694
11  12   0.773381  0.663580  0.714286
12  13   0.740385  0.712963  0.726415
13  14   0.769784  0.660494  0.710963
14  15   0.749186  0.709877  0.729002
15  16   0.755245  0.666667  0.708197
16  17   0.745161  0.712963  0.728707
17  18   0.756944  0.672840  0.712418
18  19   0.738019  0.712963  0.725275
19  20   0.742049  0.648148  0.691928
20  21   0.716129  0.685185  0.700315
21  22   0.731707  0.648148  0.687398
22  23   0.708197  0.666667  0.686804
23  24   0.732394  0.641975  0.684211
24  25   0.709150  0.669753  0.688889
25  26   0.720690  0.645062  0.680782
26  27   0.704180  0.675926  0.689764
27  28   0.705686  0.651235  0.677368
28  29   0.700000  0.669753  0.684543

# K-Fold Cross Validation

In [11]:
from sklearn.model_selection import KFold, cross_val_score

cv = KFold(n_splits=10, random_state=314, shuffle=True)
knn_model = KNeighborsClassifier(n_neighbors=1)
f1_scores = cross_val_score(knn_model, X, y, scoring="f1", cv=cv, n_jobs=-1)

print(np.mean(f1_scores))

0.7587456465619208

# Grid Search with CV

In [12]:
# Put it together! (K-Fold CV within a Grid Search)

from sklearn.model_selection import GridSearchCV


def run_grid_search(X, y, model, params, scoring="f1", n_folds=10):
  cv = GridSearchCV(model, params, scoring=scoring, cv=n_folds)
  cv.fit(X, y)
  results = cv.cv_results_
  cols = ["param_" + name for name in params.keys()] + ["mean_test_score", "std_test_score", "rank_test_score"]
  results_df = pd.DataFrame(results)[cols]
  display(results_df.sort_values(["rank_test_score"]))

  return results_df

In [13]:
# Use grid search function with custom inputs

knn_model = KNeighborsClassifier()
params = {"n_neighbors": [1, 2, 3, 4, 5]}

results_df = run_grid_search(X, y, knn_model, params, scoring="f1", n_folds=10)

  param_n_neighbors  mean_test_score  std_test_score  rank_test_score
0                 1         0.763252        0.020619                1
2                 3         0.753769        0.032025                2
4                 5         0.741925        0.030168                3
3                 4         0.712709        0.028829                4
1                 2         0.693480        0.027343                5

# Data Preprocessing

In [14]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

ss = StandardScaler()
ss.fit(X_train)
X_ss = pd.DataFrame(ss.transform(X))

mms = MinMaxScaler()
mms.fit(X_train)
X_mms = pd.DataFrame(mms.transform(X))

In [15]:
X_ss.describe()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
count,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,...,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000
mean,-0.002204,0.001320,0.011806,-0.007518,0.001489,0.005545,0.001767,-0.004817,-0.009353,0.001323,...,-0.000117,0.001012,-0.004563,-0.009081,0.005517,-0.000462,-0.006435,0.005732,-0.000416,0.003239
std,0.995894,1.012652,1.013731,0.900125,0.984149,0.990001,0.997705,0.965495,1.000949,1.063813,...,0.950808,1.007274,0.941803,0.919576,1.028571,1.027255,0.911567,0.987971,0.938046,1.002669
min,-0.340223,-0.164933,-0.548731,-0.050606,-0.453725,-0.351651,-0.289405,-0.255827,-0.337903,-0.390001,...,-0.113721,-0.158753,-0.477317,-0.148769,-0.327168,-0.312369,-0.099951,-0.123474,-0.240409,-0.456229
25%,-0.340223,-0.164933,-0.548731,-0.050606,-0.453725,-0.351651,-0.289405,-0.255827,-0.337903,-0.390001,...,-0.113721,-0.158753,-0.477317,-0.148769,-0.327168,-0.312369,-0.099951,-0.106210,-0.217197,-0.401186
50%,-0.340223,-0.164933,-0.548731,-0.050606,-0.453725,-0.351651,-0.289405,-0.255827,-0.337903,-0.390001,...,-0.113721,-0.158753,-0.260100,-0.148769,-0.327168,-0.312369,-0.099951,-0.086207,-0.175414,-0.305672
75%,-0.340223,-0.164933,0.292212,-0.050606,0.103589,-0.351651,-0.289405,-0.255827,-0.337903,-0.131764,...,-0.113721,-0.158753,0.160759,-0.148769,0.062805,-0.102365,-0.099951,-0.043105,-0.045423,-0.027222
max,14.059390,11.811959,9.662717,26.226689,14.212420,13.001801,18.140539,26.075622,12.078713,28.952126,...,31.440652,17.932147,32.621196,32.826461,39.470274,23.930979,40.012210,32.495044,46.129147,25.187009

In [16]:
X_mms.describe()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
count,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,...,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000
mean,0.023474,0.013881,0.054893,0.001640,0.031038,0.026749,0.015799,0.009533,0.027280,0.021823,...,0.003600,0.008831,0.014283,0.004236,0.008359,0.012866,0.002331,0.003961,0.005176,0.017918
std,0.069161,0.084551,0.099274,0.034255,0.067103,0.074138,0.054135,0.036667,0.083109,0.059327,...,0.030132,0.055678,0.028455,0.027887,0.025845,0.042373,0.022725,0.030289,0.020230,0.039101
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000529,0.000501,0.002146
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.006563,0.000000,0.000000,0.000000,0.000000,0.001143,0.001402,0.005871
75%,0.000000,0.000000,0.082353,0.000000,0.038000,0.000000,0.000000,0.000000,0.000000,0.014401,...,0.000000,0.000000,0.019278,0.000000,0.009799,0.008662,0.000000,0.002464,0.004205,0.016730
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.030960,1.636364,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
# Using StandardScaler (Normalization)
results_df = run_grid_search(X_ss, y, knn_model, params, scoring="f1", n_folds=10)

  param_n_neighbors  mean_test_score  std_test_score  rank_test_score
0                 1         0.888626        0.016309                1
2                 3         0.884778        0.009757                2
4                 5         0.883286        0.012420                3
3                 4         0.871673        0.014645                4
1                 2         0.864608        0.017855                5

In [18]:
# Using MinMaxScaler (Range Scaling)
results_df = run_grid_search(X_mms, y, knn_model, params, scoring="f1", n_folds=10)

  param_n_neighbors  mean_test_score  std_test_score  rank_test_score
0                 1         0.876528        0.014181                1
2                 3         0.870991        0.016096                2
4                 5         0.865162        0.013891                3
3                 4         0.851761        0.016476                4
1                 2         0.844939        0.022815                5

# Create Functions

In [48]:
def preprocess_data(data_path):
  df = pd.read_csv(data_path, header=0)
  df = df.rename(columns={"char_freq_[": "char_freq_sqbracket"})
  X = df.iloc[:, :-1]
  y = df.iloc[:, -1]
  ss = StandardScaler()
  ss.fit(X)
  X_ss = pd.DataFrame(ss.transform(X))
  X_ss.columns = X.columns

  return X_ss, y


def run_grid_search(X, y, model, params, scoring="f1", n_folds=10):
  cv = GridSearchCV(model, params, scoring=scoring, cv=n_folds)
  cv.fit(X, y)
  best_model = cv.best_estimator_
  best_params = cv.best_params_
  results = cv.cv_results_
  param_cols = ["param_" + name for name in params.keys()]
  score_cols = ["mean_test_score", "std_test_score", "rank_test_score"]
  results_df = pd.DataFrame(results)[param_cols + score_cols]\
                .sort_values(["rank_test_score"])
  display(results_df.head())

  return best_model, best_params

In [49]:
# Try them out
X, y = preprocess_data(data_path="spambase.csv")

knn_model = KNeighborsClassifier()
params = {"n_neighbors": range(1, 5)}
knn_best, knn_params = run_grid_search(X, y, knn_model, params, scoring="f1", n_folds=10)

  param_n_neighbors  mean_test_score  std_test_score  rank_test_score
0                 1         0.888033        0.016353                1
2                 3         0.885245        0.011758                2
3                 4         0.871754        0.017191                3
1                 2         0.863620        0.018014                4

# Logistic Regression

In [21]:
from sklearn.linear_model import LogisticRegression

lr_model = LogisticRegression(solver="liblinear")
params = {"penalty": ["l1", "l2"]}
lr_best, lr_params = run_grid_search(X, y, lr_model, params, scoring="f1", n_folds=10)

  param_penalty  mean_test_score  std_test_score  rank_test_score
0            l1         0.909621        0.017646                1
1            l2         0.907592        0.018189                2

# Decision Tree

In [22]:
from sklearn.tree import DecisionTreeClassifier

dt_model = DecisionTreeClassifier()
params = {"max_depth": [1, 5, 10], "min_samples_split": [2, 5, 10], "min_samples_leaf": [2, 5, 10]}
dt_best, dt_params = run_grid_search(X, y, dt_model, params, scoring="f1", n_folds=10)

,param_max_depth,param_min_samples_split,param_min_samples_leaf,mean_test_score,std_test_score,rank_test_score
21,10,2,5,0.901787,0.019216,1
18,10,2,2,0.901421,0.026144,2
23,10,10,5,0.901291,0.017436,3
22,10,5,5,0.900920,0.018298,4
20,10,10,2,0.900808,0.023988,5

# Random Forest

In [23]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
params = {"max_depth": [1, 5, 10], "min_samples_split": [2, 5, 10], "min_samples_leaf": [2, 5, 10]}
rf_best, rf_params = run_grid_search(X, y, rf_model, params, scoring="f1", n_folds=10)

,param_max_depth,param_min_samples_split,param_min_samples_leaf,mean_test_score,std_test_score,rank_test_score
19,10,5,2,0.923872,0.014154,1
20,10,10,2,0.922953,0.014901,2
18,10,2,2,0.920963,0.015761,3
23,10,10,5,0.918660,0.014042,4
21,10,2,5,0.916358,0.016888,5

# XGBoost

In [43]:
from xgboost import XGBClassifier

xgb_model = XGBClassifier(n_estimators=100, learning_rate=0.1, subsample=0.9)
params = {
    "max_depth": [1, 5, 10],
    "colsample_bytree": [0.5, 1.0],
    "reg_alpha": [0.1, 1.0]
}
xgb_best, xgb_params = run_grid_search(X, y, xgb_model, params, scoring="f1", n_folds=10)

,param_max_depth,param_colsample_bytree,param_reg_alpha,mean_test_score,std_test_score,rank_test_score
4,10,0.5,0.1,0.947586,0.012721,1
5,10,0.5,1.0,0.946578,0.013926,2
10,10,1.0,0.1,0.946062,0.011964,3
11,10,1.0,1.0,0.944068,0.012158,4
2,5,0.5,0.1,0.942164,0.012739,5

# Support Vector Machines

In [25]:
from sklearn.svm import SVC

svc_model = SVC(probability=True, random_state=314)
params = {"kernel": ["linear", "poly", "rbf", "sigmoid"]}
svc_best, svc_params = run_grid_search(X, y, svc_model, params, scoring="f1", n_folds=10)

  param_kernel  mean_test_score  std_test_score  rank_test_score
2          rbf         0.914100        0.015533                1
0       linear         0.911852        0.015777                2
3      sigmoid         0.849816        0.022444                3
1         poly         0.609031        0.026530                4

# Model Ensembles

In [44]:
from sklearn.ensemble import VotingClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=314)

estimators = [
              ("knn", knn_best), 
              ("lr", lr_best), 
              ("dt", dt_best), 
              ("rf", rf_best), 
              ("xgb", xgb_best), 
              ("svc", svc_best)
]
ensemble = VotingClassifier(estimators, voting="soft")
ensemble.fit(X_train, y_train)
y_pred = ensemble.predict(X_test)
print(metrics.classification_report(y_test, y_pred))
print(metrics.f1_score(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.95      0.96       504
           1       0.93      0.95      0.94       324

    accuracy                           0.95       828
   macro avg       0.95      0.95      0.95       828
weighted avg       0.95      0.95      0.95       828

0.9390243902439024

# Model Serialization

In [45]:
import joblib

joblib.dump(xgb_best, "xgb_model.pkl")

['xgb_model.pkl']

In [74]:
def validate_model(model_path, data_path):
  model = joblib.load(model_path)
  X_val, y_val = preprocess_data(data_path=data_path)
  y_pred = model.predict(X_val)
  print(metrics.classification_report(y_val, y_pred))
  print(f"Accuracy: {round(100*metrics.accuracy_score(y_val, y_pred), 1)}%")
  print(f"F1: {round(100*metrics.f1_score(y_val, y_pred), 1)}%")

In [75]:
model_path = "xgb_model.pkl"
data_path = "spambase_val.csv"
validate_model(model_path, data_path)

              precision    recall  f1-score   support

           0       0.98      0.99      0.99      2788
           1       0.99      0.97      0.98      1813

    accuracy                           0.98      4601
   macro avg       0.99      0.98      0.98      4601
weighted avg       0.98      0.98      0.98      4601

Accuracy: 98.5%
F1: 98.0%